@import '@/assets/styles/common/var.scss';
@import '@/assets/styles/mixins/mixins.scss';

@include b(publish) {
  height: 100%;
  position: relative;
  background: $white-color;

  @include e(submit) {
    position: absolute;
    bottom: 75px;
    left: 15px;
    right: 15px;
  }
}
