@import '@/assets/styles/common/var.scss';
@import '@/assets/styles/mixins/mixins.scss';

@include b(comment) {
  @include e(title) {
    padding-top: 10px;
    background: $white-1-color;

    @include m(text) {
      padding: 10px 16px;
      font-weight: bold;
      background: $white-color;
      font-size: $text-size-medium;
    }
  }

  @include e(empty) {
    text-align: center;
    height: 150px;
    line-height: 150px;
    background: $white-color;
    color: $gray-darker-color;
    font-size: $text-size-medium;
  }
}
